{% extends "ledger_base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger" id="messages">
  {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
{% for tx in txs %}
<div class="modal" id="mdl-edit{{ tx.TransactionID }}" role="dialog">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ title }}</p>
      <button class="delete" aria-label="close" data-dismiss="modal"></button>
    </header>
    <form method="POST" action="/api/addEntry">
      <section class="modal-card-body">
        <div class="field">
          <input type="input" name="date" id="entrydate" placeholder="{{ tx.Date.strftime('%m/%d/%y') }}">
        </div>
        <div class="field is-horizontal">
          <div class="field-body">

            <div class="field">
              <input class="input" type="text" name="desc" id="description" placeholder="{{ tx.Description }}">
            </div>
            <div class="field">
              <input class="input" type="text" name="amount" id="amount" placeholder="{{ "${:,.2f}".format(tx.Amount) }}">
            </div>
          </div>
        </div>
        <div class="field-body">
          <div class="control">
            <select name="category" id="category">
              <option id="none" selected>Category</option>
              {% for c in cats %}
              <option value="{{ c.CategoryID }}">{{ c.CategoryName }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="control">
            <select name="type" id="ttype">
              <option id="none" selected>Type</option>
              {% for t in types %}
              <option value="{{ t.TypeID }}">{{ t.Name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Add</button>
        <button class="button" type="button" onclick="closemodal()">Cancel</button>
      </footer>
    </form>
  </div>
</div>
{%- endfor %}
<div class="modal" id="mdl-add">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add Entry</p>
      <button class="delete" aria-label="close" onclick="closemodal()"></button>
    </header>
    <form method="POST" action="/api/addEntry">
      <section class="modal-card-body">
        <div class="field">
          <input type="input" name="date" id="entrydate" placeholder="Select Date">
        </div>
        <div class="field is-horizontal">
          <div class="field-body">

            <div class="field">
              <input class="input" type="text" name="desc" id="description" placeholder="Description">
            </div>
            <div class="field">
              <input class="input" type="text" name="amount" id="amount" placeholder="Amount">
            </div>
          </div>
        </div>
        <div class="field-body">
          <div class="control">
            <select name="category" id="category">
              <option id="none" selected>Category</option>
              {% for c in cats %}
              <option value="{{ c.CategoryID }}">{{ c.CategoryName }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="control">
            <select name="type" id="ttype">
              <option id="none" selected>Type</option>
              {% for t in types %}
              <option value="{{ t.TypeID }}">{{ t.Name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Add</button>
        <button class="button" type="button" onclick="closemodal()">Cancel</button>
      </footer>
    </form>
  </div>
</div>
<button class="button is-info is-light" onclick="openmodal()">Add</button><br /><br />
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% set ns = namespace() %}
    {% set ns.balance = 0 %}
    {% set ns.month = 0 %}


    {% for tx in txs %}
    {% if loop.index == 1 %}
    {% set ns.balance = tx.StartingBalance + tx.Amount %}
    {% else %}
    {% set ns.balance = ns.balance + tx.Amount %}
    {% endif %}
    {% set entryMonth = tx.Date.strftime('%m') | int %}
    {% if ns.month != entryMonth %}
    {% set ns.month = entryMonth %}
    <tr class="tableMonth">
      <td width="10%" colspan="5" class="tableMonth">{{ tx.Date.strftime('%B') }}</td>
    </tr>
    {% endif %}
    <tr>
      <td width="10%">{{ tx.Date.strftime('%m/%d/%y') }}</td>
      <td>{{ tx.Description }}</td>
      <td width="5%">
        {% if tx.Amount|float < 0.0 %}
        <span class="tag is-danger">
          {% else %}
          <span class="tag is-primary">
            {% endif %}
            <b>{{ "${:,.2f}".format(tx.Amount) }}</b>
          </span>
      </td>
      <td width="5%">{{ "${:,.2f}".format(ns.balance) }}</td>
      <td width="5%">
        <a href="/api/deleteEntry/{{tx.TransactionID}}">
          <img src="{{ url_for('static', filename='img/trash.png')}}" width="15" height="15">
        </a>
        <img src="{{ url_for('static', filename='img/edit.png')}}" width="15" height="15" data-toggle="modal" data-target="#mdl-edit{{tx.TransactionID}}">
        <button type="button" class="button is-info is-light" data-toggle="modal" data-target="#mdl-edit{{tx.TransactionID}}">Edit</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}